### 1. Write an SQL query to show the top n (say 10) records of a table
Answer:
```
select top 10 * from worker;
```
or
```
SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;
```

### 2. Write an SQL query to determine the nth (say n=5) highest salary from a table.
Answer:
```
select salary from (select salary from worker order by salary desc limit 5) as temp order by salary asc limit 1;

```

Update `limit n` in inner query to desired number to determine the nth highest salary from table