### 1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side
Answer:

`SELECT RTRIM(FIRST_NAME) FROM worker;`

### 2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
Answer:
    
`SELECT DISTINCT(DEPARTMENT), LENGTH(DEPARTMENT) AS LENGTH FROM worker;`

Output:<br/>
HR	2<br/>
Admin	5<br/>
Account	7

(OR) use below query to print just the lengths

`Select length from (SELECT DISTINCT(DEPARTMENT), LENGTH(DEPARTMENT) AS LENGTH FROM worker) as l;`

### 3. Write an SQL query to fetch nth max salaries from a table.
Answer:
    
`select salary from (select salary from worker order by salary desc limit 3) as temp order by salary asc limit 1;`

*Note: nth max salary can be found by updating the inner query limit value, here in above example we are finding 3rd max salary