### 1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
Answer:
```
SELECT salary FROM 
(SELECT salary, ROW_NUMBER() OVER(ORDER BY salary DESC) AS 'RowNum' FROM WORKER) as temp
WHERE rownum = 5;
```

### 2. Write an SQL query to fetch the list of employees with the same salary.
Answer:
```
select w1.first_name, w1.last_name, w1.salary from worker w1 
inner join worker w2 on
w1.worker_id != w2.worker_id and 
w1.salary = w2.salary;
```